Repository Fatalito/modern-nextjs-directory-template: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, markdown-check, shell-check

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    biome-check:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: npx @biomejs/biome check --write --no-errors-on-unmatched {staged_files} && git add {staged_files}
    markdown-check:
      glob: "**/*.md"
      run: npx markdownlint-cli2 {staged_files}
    shell-check:
      glob: "scripts/**/*.sh"
      run: npx shellcheck -x {staged_files}
pre-push:
  commands:
    dotenv-check:
      glob: ".env.example"
      run: dotenv-linter {staged_files}
    coverage-gate:
      glob: "src/**/*.ts"
      run: >-
        npm run test:coverage &&
        node -e "const s=JSON.parse(require('fs').readFileSync('./coverage/coverage-summary.json','utf8'));const bad=Object.entries(s).filter(([k,v])=>k!=='total'&&v.lines.pct===0&&v.lines.total>0);if(bad.length){console.error('\n\u274C Coverage gate: 0% â€” add tests or exclude in vitest.config.ts:\n'+bad.map(([k])=>k).join('\n'));process.exit(1);}"
    typecheck:
      run: npm run typecheck

ci: harden lighhouse test
  scripts/run-lighthouse.mjs
Due: biome-check

deploy: f257d0a2531435e7ac6ebb98ccb960bfa79c6035
  pr-39/project.json
Due: biome-check

ci: make lefthook more silent
  lefthook.yml
Due: none

deploy: e0c74b42ca098741ea1cd3b5558a63ffd886b56d
  pr-39/project.json
Due: biome-check

deploy: 33e70b9e9f190d46ce3842075674848e6e8378d4
  pr-39/project.json
Due: biome-check

ci: harden PR workflow with concurrency control, deploy success checks, and schema validation improvements
  .github/workflows/pr.yml
Due: none

deploy: eaba509d6cc7a9e381edde8b1a3f315dbc5a66ce
  pr-39/project.json
Due: biome-check

ci: harden workflows and infra scripts with improved error handling and validation
  .github/workflows/cleanup-stale-forks.yml
  .github/workflows/debug-remote-authorise.yml
  .github/workflows/reap-db-tokens.yml
  .github/workflows/rollback.yml
  README.md
  scripts/infra/setup.sh
Due: shell-check

deploy: 4868795041753c5d670f1e7803b8ccf3b01ef090
  pr-39/project.json
Due: biome-check

ci: enhance workflows and seed script with better auditing, cleanup, and validation
  .github/workflows/debug-remote-authorise.yml
  .github/workflows/pr.yml
  .github/workflows/rollback.yml
  scripts/db/seed.ts
Due: biome-check

deploy: 9f919cd5fde59628ef0c58d2c21afd5199493437
  pr-39/project.json
Due: biome-check

ci: production-grade deploy, rollback, and infra hardening (#39)
  .cursorrules
  .env.example
  .github/actions/rotate-db-token/action.yml
  .github/workflows/cleanup-stale-forks.yml
  .github/workflows/cleanup.yml
  .github/workflows/debug-remote-authorise.yml
  .github/workflows/deploy.yml
  .github/workflows/pr.yml
  .github/workflows/reap-db-tokens.yml
  .github/workflows/rollback.yml
  .gitignore
  README.md
  biome.json
  lefthook.yml
  package-lock.json
  package.json
  scripts/db-decrypt-snapshot.sh
  scripts/db/seed.ts
  scripts/db/snapshot-list.sh
  scripts/infra/debug-remote-start.sh
  scripts/infra/debug-remote-stop.sh
  scripts/infra/debug-start.sh
  scripts/infra/setup.sh
  scripts/infra/sync-github-env.sh
  scripts/infra/teardown.sh
  scripts/infra/turso-rotate-token.sh
  scripts/infra/turso-setup.sh
  scripts/infra/turso-teardown.sh
  scripts/run-lighthouse.mjs
  src/shared/api/db/seed.ts
Due: biome-check, shell-check

deploy: 9cc9c011e9d6c6e386cdf76abbbdff333baa5c5a
  assets/business-card-D3MGSP1n.js
  assets/business-card.stories-r51qa7m5.js
  assets/business-list.stories-zayqcHEa.js
  assets/iframe--9Aa8Uup.css
  assets/iframe-yjv5PaVM.js
  assets/react-18-CKl2hJRz.js
  iframe.html
  project.json
  sb-manager/globals-runtime.js
  sb-manager/runtime.js
Due: biome-check

deploy: 312b2453aad7ba7238105460b0289775ec100dfa
  pr-40/assets/business-card-D3MGSP1n.js
  pr-40/assets/business-card.stories-r51qa7m5.js
  pr-40/assets/business-list.stories-zayqcHEa.js
  pr-40/assets/iframe--9Aa8Uup.css
  pr-40/assets/iframe-yjv5PaVM.js
  pr-40/assets/preload-helper-PPVm8Dsz.js
  pr-40/assets/react-18-CKl2hJRz.js
  pr-40/favicon-wrapper.svg
  pr-40/favicon.svg
  pr-40/iframe.html
  pr-40/index.html
  pr-40/index.json
  pr-40/nunito-sans-bold-italic.woff2
  pr-40/nunito-sans-bold.woff2
  pr-40/nunito-sans-italic.woff2
  pr-40/nunito-sans-regular.woff2
  pr-40/project.json
  pr-40/sb-addons/common-manager-bundle.js
  pr-40/sb-common-assets/favicon-wrapper.svg
  pr-40/sb-common-assets/favicon.svg
  pr-40/sb-common-assets/nunito-sans-bold-italic.woff2
  pr-40/sb-common-assets/nunito-sans-bold.woff2
  pr-40/sb-common-assets/nunito-sans-italic.woff2
  pr-40/sb-common-assets/nunito-sans-regular.woff2
  pr-40/sb-manager/globals-runtime.js
  pr-40/sb-manager/globals.js
  pr-40/sb-manager/manager-stores.js
  pr-40/sb-manager/runtime.js
  pr-40/vercel.svg
  pr-40/vite-inject-mocker-entry.js
Due: biome-check

ci: extend DB token validity to 3h and harden credential rotation networking
  .github/workflows/deploy.yml
  .github/workflows/rollback.yml
  .github/workflows/rotate-credentials.yml
  README.md
Due: none

ci: harden rotate-credentials health parsing and add success/failure workflow summary
  .github/workflows/rotate-credentials.yml
Due: none

deploy: d334bba16eeff8004d25a1c33c95fe3bf4b491eb
  pr-40/project.json
Due: biome-check

ci: switch DB token rotation to 90d natural expiry and add scheduled … (#40)
  .github/actions/rotate-db-token/action.yml
  .github/workflows/deploy.yml
  .github/workflows/reap-db-tokens.yml
  .github/workflows/rollback.yml
  .github/workflows/rotate-credentials.yml
  README.md
Due: none

deploy: b58ccecd46d219cafbc13b3f2dd2ee647ce2c7c5
  project.json
Due: biome-check

ci: fix db token expiration
  .github/workflows/deploy.yml
  .github/workflows/rollback.yml
  scripts/infra/turso-rotate-token.sh
Due: shell-check

deploy: 8a10220b5fd95eff100187074407314d495c62bd
  pr-41/assets/business-card-D3MGSP1n.js
  pr-41/assets/business-card.stories-r51qa7m5.js
  pr-41/assets/business-list.stories-zayqcHEa.js
  pr-41/assets/iframe--9Aa8Uup.css
  pr-41/assets/iframe-yjv5PaVM.js
  pr-41/assets/preload-helper-PPVm8Dsz.js
  pr-41/assets/react-18-CKl2hJRz.js
  pr-41/favicon-wrapper.svg
  pr-41/favicon.svg
  pr-41/iframe.html
  pr-41/index.html
  pr-41/index.json
  pr-41/nunito-sans-bold-italic.woff2
  pr-41/nunito-sans-bold.woff2
  pr-41/nunito-sans-italic.woff2
  pr-41/nunito-sans-regular.woff2
  pr-41/project.json
  pr-41/sb-addons/common-manager-bundle.js
  pr-41/sb-common-assets/favicon-wrapper.svg
  pr-41/sb-common-assets/favicon.svg
  pr-41/sb-common-assets/nunito-sans-bold-italic.woff2
  pr-41/sb-common-assets/nunito-sans-bold.woff2
  pr-41/sb-common-assets/nunito-sans-italic.woff2
  pr-41/sb-common-assets/nunito-sans-regular.woff2
  pr-41/sb-manager/globals-runtime.js
  pr-41/sb-manager/globals.js
  pr-41/sb-manager/manager-stores.js
  pr-41/sb-manager/runtime.js
  pr-41/vercel.svg
  pr-41/vite-inject-mocker-entry.js
Due: biome-check

ci: fix db token expiration (#41)
  .github/workflows/deploy.yml
  .github/workflows/rollback.yml
  scripts/infra/turso-rotate-token.sh
Due: shell-check

deploy: debfa7960e10795b67f901348d9c1792336df426
  project.json
Due: biome-check
