Repository Fatalito/modern-nextjs-directory-template: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, markdown-check, shell-check

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    biome-check:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: npx @biomejs/biome check --write --no-errors-on-unmatched {staged_files} && git add {staged_files}
    markdown-check:
      glob: "**/*.md"
      run: npx markdownlint-cli2 {staged_files}
    shell-check:
      glob: "scripts/**/*.sh"
      run: npx shellcheck -x {staged_files}
pre-push:
  commands:
    dotenv-check:
      glob: ".env.example"
      run: dotenv-linter {staged_files}
    coverage-gate:
      glob: "src/**/*.ts"
      run: >-
        npm run test:coverage &&
        node -e "const s=JSON.parse(require('fs').readFileSync('./coverage/coverage-summary.json','utf8'));const bad=Object.entries(s).filter(([k,v])=>k!=='total'&&v.lines.pct===0&&v.lines.total>0);if(bad.length){console.error('\n\u274C Coverage gate: 0% â€” add tests or exclude in vitest.config.ts:\n'+bad.map(([k])=>k).join('\n'));process.exit(1);}"
    typecheck:
      run: npm run typecheck

fix: harden storybook CI and db-decrypt-snapshot script
  .github/workflows/_storybook.yml
  README.md
  scripts/db-decrypt-snapshot.sh
Due: none

deploy: c99e285bcd1ad4eeeabc76911f81e983a912d71b
  pr-31/project.json
Due: biome-check

deploy: 9d2346c8f26c2b6f150b3393bb5a7d58c85eb80f
  pr-31/project.json
Due: biome-check

fix(deploy): Add bypass header to healthcheck, add migration + snapshot steps (#31)
  .cursorrules
  .env.example
  .github/workflows/_storybook.yml
  .github/workflows/deploy.yml
  .github/workflows/main.yml
  README.md
  lefthook.yml
  package-lock.json
  package.json
  scripts/db-decrypt-snapshot.sh
  scripts/infra/setup.sh
  scripts/infra/sync-github-env.sh
  scripts/infra/teardown.sh
  scripts/infra/turso-rotate-token.sh
  scripts/infra/turso-setup.sh
  scripts/infra/turso-teardown.sh
Due: biome-check, shell-check

deploy: 690ea9aaf4088a368a493f2cfa4558b7ea5a0c07
  project.json
Due: biome-check

ci: Add fallback for TURSO_DB_NAME
  .github/workflows/deploy.yml
Due: none

deploy: 0ec26dee3b3689013811f64bba22f1d5dcfcd61c
  pr-32/assets/business-card-BZHIOjrx.js
  pr-32/assets/business-card.stories-CTLuDZEV.js
  pr-32/assets/business-list.stories-CiY2sd7b.js
  pr-32/assets/iframe-BAyrZOYV.css
  pr-32/assets/iframe-CmWTCUyn.js
  pr-32/assets/preload-helper-PPVm8Dsz.js
  pr-32/assets/react-18-Cti-zrvm.js
  pr-32/favicon-wrapper.svg
  pr-32/favicon.svg
  pr-32/iframe.html
  pr-32/index.html
  pr-32/index.json
  pr-32/nunito-sans-bold-italic.woff2
  pr-32/nunito-sans-bold.woff2
  pr-32/nunito-sans-italic.woff2
  pr-32/nunito-sans-regular.woff2
  pr-32/project.json
  pr-32/sb-addons/common-manager-bundle.js
  pr-32/sb-common-assets/favicon-wrapper.svg
  pr-32/sb-common-assets/favicon.svg
  pr-32/sb-common-assets/nunito-sans-bold-italic.woff2
  pr-32/sb-common-assets/nunito-sans-bold.woff2
  pr-32/sb-common-assets/nunito-sans-italic.woff2
  pr-32/sb-common-assets/nunito-sans-regular.woff2
  pr-32/sb-manager/globals-runtime.js
  pr-32/sb-manager/globals.js
  pr-32/sb-manager/manager-stores.js
  pr-32/sb-manager/runtime.js
  pr-32/vercel.svg
  pr-32/vite-inject-mocker-entry.js
Due: biome-check

Chores: Add fallback for TURSO_DB_NAME (#32)
  .github/workflows/deploy.yml
Due: none

deploy: 4f2a152ee26bcb58fcd6fba30304eff91762dac0
  project.json
Due: biome-check

ci: properly target prod db
  .github/workflows/deploy.yml
Due: none

deploy: 677ce73294e3d529510fc22300c35a56e0c71501
  pr-33/assets/business-card-BZHIOjrx.js
  pr-33/assets/business-card.stories-CTLuDZEV.js
  pr-33/assets/business-list.stories-CiY2sd7b.js
  pr-33/assets/iframe-BAyrZOYV.css
  pr-33/assets/iframe-CmWTCUyn.js
  pr-33/assets/preload-helper-PPVm8Dsz.js
  pr-33/assets/react-18-Cti-zrvm.js
  pr-33/favicon-wrapper.svg
  pr-33/favicon.svg
  pr-33/iframe.html
  pr-33/index.html
  pr-33/index.json
  pr-33/nunito-sans-bold-italic.woff2
  pr-33/nunito-sans-bold.woff2
  pr-33/nunito-sans-italic.woff2
  pr-33/nunito-sans-regular.woff2
  pr-33/project.json
  pr-33/sb-addons/common-manager-bundle.js
  pr-33/sb-common-assets/favicon-wrapper.svg
  pr-33/sb-common-assets/favicon.svg
  pr-33/sb-common-assets/nunito-sans-bold-italic.woff2
  pr-33/sb-common-assets/nunito-sans-bold.woff2
  pr-33/sb-common-assets/nunito-sans-italic.woff2
  pr-33/sb-common-assets/nunito-sans-regular.woff2
  pr-33/sb-manager/globals-runtime.js
  pr-33/sb-manager/globals.js
  pr-33/sb-manager/manager-stores.js
  pr-33/sb-manager/runtime.js
  pr-33/vercel.svg
  pr-33/vite-inject-mocker-entry.js
Due: biome-check

Chores properly target prod db (#33)
  .github/workflows/deploy.yml
Due: none

deploy: e143552f7e631f0b9b68c8287e61da42b7f5aeb8
  project.json
Due: biome-check

deploy: 2552374d838a10908c934b61374258ebf33bab8a
  pr-38/assets/business-card-BZHIOjrx.js
  pr-38/assets/business-card.stories-CTLuDZEV.js
  pr-38/assets/business-list.stories-CiY2sd7b.js
  pr-38/assets/iframe-BAyrZOYV.css
  pr-38/assets/iframe-CmWTCUyn.js
  pr-38/assets/preload-helper-PPVm8Dsz.js
  pr-38/assets/react-18-Cti-zrvm.js
  pr-38/favicon-wrapper.svg
  pr-38/favicon.svg
  pr-38/iframe.html
  pr-38/index.html
  pr-38/index.json
  pr-38/nunito-sans-bold-italic.woff2
  pr-38/nunito-sans-bold.woff2
  pr-38/nunito-sans-italic.woff2
  pr-38/nunito-sans-regular.woff2
  pr-38/project.json
  pr-38/sb-addons/common-manager-bundle.js
  pr-38/sb-common-assets/favicon-wrapper.svg
  pr-38/sb-common-assets/favicon.svg
  pr-38/sb-common-assets/nunito-sans-bold-italic.woff2
  pr-38/sb-common-assets/nunito-sans-bold.woff2
  pr-38/sb-common-assets/nunito-sans-italic.woff2
  pr-38/sb-common-assets/nunito-sans-regular.woff2
  pr-38/sb-manager/globals-runtime.js
  pr-38/sb-manager/globals.js
  pr-38/sb-manager/manager-stores.js
  pr-38/sb-manager/runtime.js
  pr-38/vercel.svg
  pr-38/vite-inject-mocker-entry.js
Due: biome-check

deploy: 8c113be8dcfd5abb3daf5acc0905d686a6762f81
  pr-38/project.json
Due: biome-check

deploy: ee894711847d62322e3f786ca652b60501b90861
  pr-38/project.json
Due: biome-check

deploy: 1263932694213133d66480312d87221fa8c718f7
  pr-38/project.json
Due: biome-check

deploy: 5173a9435e68266433351da899b926c650741626
  pr-38/project.json
Due: biome-check

ci: atomic rollback, JIT token rotation, and infra script hardening
  .cursorrules
  .env.example
  .github/workflows/deploy.yml
  .github/workflows/rollback.yml
  .gitignore
  README.md
  package.json
  scripts/db-decrypt-snapshot.sh
  scripts/db/seed.ts
  scripts/db/snapshot-list.sh
  scripts/infra/debug-remote-start.sh
  scripts/infra/debug-remote-stop.sh
  scripts/infra/debug-start.sh
  scripts/infra/setup.sh
  scripts/infra/sync-github-env.sh
  scripts/infra/teardown.sh
  scripts/infra/turso-rotate-token.sh
  scripts/infra/turso-setup.sh
  scripts/infra/turso-teardown.sh
Due: biome-check, shell-check

deploy: 572bdb04c934802231b050bf57711a109b111b7e
  pr-39/assets/business-card-BZHIOjrx.js
  pr-39/assets/business-card.stories-CTLuDZEV.js
  pr-39/assets/business-list.stories-CiY2sd7b.js
  pr-39/assets/iframe-BAyrZOYV.css
  pr-39/assets/iframe-CmWTCUyn.js
  pr-39/assets/preload-helper-PPVm8Dsz.js
  pr-39/assets/react-18-Cti-zrvm.js
  pr-39/favicon-wrapper.svg
  pr-39/favicon.svg
  pr-39/iframe.html
  pr-39/index.html
  pr-39/index.json
  pr-39/nunito-sans-bold-italic.woff2
  pr-39/nunito-sans-bold.woff2
  pr-39/nunito-sans-italic.woff2
  pr-39/nunito-sans-regular.woff2
  pr-39/project.json
  pr-39/sb-addons/common-manager-bundle.js
  pr-39/sb-common-assets/favicon-wrapper.svg
  pr-39/sb-common-assets/favicon.svg
  pr-39/sb-common-assets/nunito-sans-bold-italic.woff2
  pr-39/sb-common-assets/nunito-sans-bold.woff2
  pr-39/sb-common-assets/nunito-sans-italic.woff2
  pr-39/sb-common-assets/nunito-sans-regular.woff2
  pr-39/sb-manager/globals-runtime.js
  pr-39/sb-manager/globals.js
  pr-39/sb-manager/manager-stores.js
  pr-39/sb-manager/runtime.js
  pr-39/vercel.svg
  pr-39/vite-inject-mocker-entry.js
Due: biome-check

ci: fix action lint error
  .github/workflows/rollback.yml
Due: none

deploy: f375e7115c321044e244259628c90bb05d851f3a
  pr-39/project.json
Due: biome-check

ci: clean up stale forks
  .github/workflows/cleanup-stale-forks.yml
  .github/workflows/cleanup.yml
Due: none

deploy: 91652267f291d6252a5fb5a723580c7cacdaaa36
  pr-39/project.json
Due: biome-check

ci: extract rotate db token action, add debug authorise worflow
  .github/actions/rotate-db-token/action.yml
  .github/workflows/cleanup-stale-forks.yml
  .github/workflows/cleanup.yml
  .github/workflows/debug-remote-authorise.yml
  .github/workflows/deploy.yml
  .github/workflows/pr.yml
  .github/workflows/rollback.yml
  README.md
  scripts/db/seed.ts
  scripts/db/snapshot-list.sh
  scripts/infra/debug-remote-start.sh
  scripts/infra/debug-remote-stop.sh
  scripts/infra/setup.sh
  scripts/infra/sync-github-env.sh
  scripts/infra/teardown.sh
  scripts/infra/turso-rotate-token.sh
  scripts/infra/turso-setup.sh
  scripts/infra/turso-teardown.sh
Due: biome-check, shell-check

deploy: 8eb9232935080a1afc3845adeb48b6b6a255d2fe
  pr-39/assets/business-card-D3MGSP1n.js
  pr-39/assets/business-card.stories-r51qa7m5.js
  pr-39/assets/business-list.stories-zayqcHEa.js
  pr-39/assets/iframe--9Aa8Uup.css
  pr-39/assets/iframe-yjv5PaVM.js
  pr-39/assets/react-18-CKl2hJRz.js
  pr-39/iframe.html
  pr-39/project.json
Due: biome-check

chore: update packages
  biome.json
  package-lock.json
  package.json
Due: biome-check

deploy: ec2cecd2864ce627ab9a34b8d53c0fbfc18e8b85
  pr-39/project.json
  pr-39/sb-manager/globals-runtime.js
  pr-39/sb-manager/runtime.js
Due: biome-check

chore: add npm ci to prevent package/-lock drift
  lefthook.yml
Due: none

deploy: 772c6db238db5e7b5887c7f4a953d4c9143cfd24
  pr-39/project.json
Due: biome-check

ci: harden rollback and infra workflows for token lifecycle and auditability
  .github/actions/rotate-db-token/action.yml
  .github/workflows/cleanup-stale-forks.yml
  .github/workflows/debug-remote-authorise.yml
  .github/workflows/reap-db-tokens.yml
  .github/workflows/rollback.yml
  README.md
  scripts/db/seed.ts
  scripts/infra/debug-remote-stop.sh
  scripts/infra/setup.sh
  scripts/infra/sync-github-env.sh
  scripts/infra/teardown.sh
  scripts/infra/turso-setup.sh
  scripts/infra/turso-teardown.sh
Due: biome-check, shell-check

deploy: 78dd154665e09ccda028889ac747a31b05d44edf
  pr-39/project.json
Due: biome-check

ci: tighten deploy defaults and harden infra/PR safety checks
  .env.example
  .github/workflows/cleanup-stale-forks.yml
  .github/workflows/debug-remote-authorise.yml
  .github/workflows/deploy.yml
  .github/workflows/pr.yml
  .github/workflows/reap-db-tokens.yml
  .github/workflows/rollback.yml
  README.md
  lefthook.yml
  scripts/db/seed.ts
  scripts/infra/setup.sh
Due: biome-check, shell-check

deploy: cc3b3dca770390bd6de2776df83c375baaf9d1ac
  pr-39/project.json
Due: biome-check

chore: lefthook silence npm ci
  lefthook.yml
Due: none

deploy: d78e7ddb32f477517e4eb872f661c69f97ef8401
  pr-39/project.json
Due: biome-check

fix: await on seed instead of promise
  scripts/db/seed.ts
Due: biome-check

deploy: 1f39136457784039f962e441404bfeb4780461dd
  pr-39/project.json
Due: biome-check
